/* manrope-latin-wght-normal */
@font-face {
  font-family: 'Manrope Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/manrope:vf@latest/latin-wght-normal.woff2)
    format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
}

body {
  background-color: hsl(210, 46%, 95%);
  display: grid;
  grid-template-rows: 1fr 1vw;
  gap: 2rem;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
  padding: 1rem 0;
}

.card {
  font-family: 'Manrope Variable';
  font-weight: 500;
  place-self: center;
  max-width: 310px;
  height: 480px;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  display: grid;
  grid-template-rows: 40% 45% 15%;
  grid-template-areas: 'image' 'text' 'user';
  cursor: default;
  box-shadow: 0px 6px 12px hsl(212, 23%, 69%);
}

.card .mainImage {
  grid-area: image;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.card .textContent {
  grid-area: text;
  padding: 3rem 2rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.card .textContent .bold {
  font-size: 1.2rem;
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

.card .textContent .tiny {
  color: hsl(214, 17%, 51%);
}

.card .user {
  grid-area: user;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}
.card .user .avatar {
  height: 80%;
  width: auto;
  object-fit: contain;
  border-radius: 50%;
  margin: auto;
}

.card .user .userData {
  width: 100%;
  padding: 0 0.5rem;
}
.card .user .userData .name {
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}
.card .user .userData .date {
  font-weight: 500;
  color: hsl(212, 23%, 69%);
}

.icon {
  height: 70%;
  background-color: hsl(210, 46%, 95%);
  transition: 0.3s ease;
  margin: auto;
  cursor: pointer;
}

.icon.share {
  background-color: hsl(210, 46%, 95%);
  border-radius: 55%;
  padding: 0.5rem;
  height: 60%;
  transition: all 0.1s ease;
}
.icon.share:hover {
  background-color: hsl(212, 23%, 80%);
}

.icon.link {
  background-color: transparent;
}

.shareOptions {
  background-color: hsl(217, 19%, 35%);
  grid-area: user;
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: hsl(212, 23%, 69%);
  display: none;
}

.shareOptions .options {
  width: 100%;
}
.icon.link {
  padding: 0 0.5rem;
}
.visible {
  display: flex;
}

@media (width > 800px) {
  .card {
    position: relative;
    padding: 0;
    min-width: 700px;
    height: 280px;
    grid-template-rows: 75% 25%;
    grid-template-columns: 40% 60%;
    grid-template-areas: 'image text' 'image user';
    overflow: visible;
  }
  .card .mainImage {
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
    height: 100%;
  }
  .card .textContent {
    padding: 3rem;
  }
  .card .textContent .bold {
    font-size: 1.5rem;
  }
  .card .user {
    padding: 1rem 3rem;
  }
  .shareOptions {
    position: absolute;
    border-radius: 0.5rem;
    right: 0;
    bottom: 0;
    margin: 5rem -3rem;
  }
  .shareOptions .icon.share {
    display: none;
  }
  .shareOptions::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid hsl(217, 19%, 35%);
    right: 38%;
    bottom: -23%;
  }
}
